<%= render "layouts/header" %>
<center><h1>TRAVLR</h1>

<body>
<h3>Edit this trip!</h3>

<%= form_for @trip, url: {action: "update"} do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :date %>
<%= f.text_field :date %>
<br>
<br>
<%= f.submit "Change" %>
<% end %>

<%= render 'layouts/footer' %>
</body>
