<%= render "layouts/header" %>

<center><h1>TRAVLR.</h1>
<body>
    <h2>Add a trip!</h2>

    <%= form_for(@trip , action: "create") do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :year %>
    <%= f.text_field :date %>
    <br>
    <br>
    <h2>While you are creating a trip, add an adventure!</h2>
    <p> Call it whatever you like: the name of a city, a date, or simply "Day 1".</p>
    <%= f.fields_for :places do |p| %>
      <%= p.label :Adventure %>
      <%= p.text_field :name %><br>
      <br>
      <%= p.label :memory %>
      <%= p.text_field :memory, :size => 100 %><br>
      <br>

    <% end %>
    <br>
    <%= f.submit "Create" %>
  <% end %>
</body>
