<%= render "layouts/header" %>

<center><h1>TRAVLR.</h1>
<body>
  <% if flash[:success] %>
    <p style="color: green;"><%= flash[:success] %></p>
  <% end %>
<h2><%= @trip.name %>- <%= @trip.date %></h2>
<%= link_to "Edit", edit_user_trip_path(@trip) %>
<%= link_to "Delete", user_trip_path(current_user, @trip), method: :delete %><br>
<h3>There were <%= @trip.places.count %> adventure(s) on this trip!</h3>
<br>
  <% @trip.places.each do |place| %>
  <h3><%=link_to place.name, trip_place_path(@trip, place) %></h3>
  <% end %>

  <%= link_to "Add Adventure?", new_trip_place_path(@trip, @place) %>
  <br>
<%= render 'layouts/footer' %>
</body>

<!--Update to include next button
