<%= render "layouts/header" %>

<h1>TRAVLR.</h1>

<h2><%= @trip.name %>- <%= @trip.date %></h2>
<%= link_to "Edit", edit_user_trip_path(@trip) %>
<%= link_to "Delete", user_trip_path(current_user, @trip), method: :delete %><br>
<h3>You went on <%= @trip.places.count %> adventures on this trip!</h3>
<ul>
  <% @trip.places.each do |place| %>
  <li><%=link_to place.name, user_trip_place_path(@trip,place) %>-<%= place.memory %></li>
  <% end %>
<ul>




<center><%= render 'layouts/footer' %>
