<center><h1>TRAVLR</h1>
  
  <%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <%= f.submit "Create my account" %>

<% end %>
