<h1>TRAVLR</h1>
<br>
<h2>Welcome, <%= @user.username.capitalize %>!</h2>
<h3>Your <%= @user.trips.count %> trips:</h3>

<% @user.trips.each do |trip| %>
<h3><%=link_to trip.name, user_trip_path(trip) %>-<%= trip.date %></h3>
<% end %>

<br>
<%= link_to 'Add Trip', new_user_trip_path(@user, @trip) %><br>
<br>
<%= render 'layouts/footer' %>
