<center><h1>TRAVLR</h1>
<h3>Edit your adventure!</h3>

<%= form_tag place_path(@place), method: "put" do  %>
  <label>Place:</label><br>
  <%= text_field_tag :name, @place.name %><br>


  <label>Memory:</label><br>
  <%= text_area_tag :memory, @place.memory %><br>


  <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Adventure Page", place_path %>
<br>
