<%= render "layouts/header" %>

<h1>TRAVLR</h1>
<body>
<h3><%= @place.name %>- <%= @place.memory %></h3>
<br>
<%= link_to "Edit Adventure?", edit_user_trip_place_path %>
<br>


<%= render 'layouts/footer' %>
</body>
